/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


h2 {
    color: #666;
    font-size: 20px;
    margin-top: 20px;
}

/* Estilos del formulario */
.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select {
    width: 200px;
    padding: 5px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilos de la tabla */
#productosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#productosTable th,
#productosTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#productosTable th {
    background-color: #f0f0f0;
    font-weight: bold;
}
